@using GenericCalendar.Application.Bookings.SportsFieldBooking
@using GenericCalendarApp.Services
@inject NavigationManager Navigation
@inject IBookingApiClient BookingApiClient
@namespace GenericCalendarApp.Components.Pages.Calendar

<h3>Edit Sports Field Booking</h3>

<EditForm Model="@Booking" OnValidSubmit="@HandleValidSubmit" novalidate>
    <DataAnnotationsValidator />
    <FluentValidationSummary />

    <FluentTextField Name="Title" @bind-Value="Booking.Title" Label="Title" />
    <FluentTextField Name="FieldType" @bind-Value="Booking.FieldType" Label="Field Type" />
    <FluentCheckbox Name="HasLighting" @bind-Value="Booking.HasLighting">Has Lighting</FluentCheckbox>
    <FluentButton Type="ButtonType.Submit">Save</FluentButton>
</EditForm>

@code {
    [Parameter] public SportsFieldBookingDto Booking { get; set; } = default!;

    private async Task HandleValidSubmit()
    {
        //await BookingApiClient.UpdateSportsFieldBookingAsync(Booking);
        Navigation.NavigateTo("/calendar");
    }
}
